@import '../../node_modules/bootstrap/scss/bootstrap.scss';


$color: #464549;
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $color;
  margin-top: 60px;
}


.card-container{
  margin-bottom: 2rem;
}

